/*MAIN PAGE STYLES*/
body{
    font-family: Poppins,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .2px;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
    margin:0;
}
.d-flex{
    display: flex;
}
.flexColumn{
    flex-direction: column;
}
.cCenter{
    justify-content: center;
}
.sBtw{
    justify-content: space-between;
}
.verticalAlign{
    align-items: center;
}
.ulStyle{
    padding: 20px ;
    margin: 0;
    align-items: center;

}
.navStyle{
    height: 80px;
    background-color: #fffefe;
    width: 100%;
}
.marginLeft10{
    margin-left: 10px;
}
.noDotOnList{
    list-style-type: none;
    font-size: 17px;
}
.marginRight0{
    margin-right: 0;
}
.fontSize35{
    font-size: 35px;
}
.fontsize{
    font-size: 15px;
}
.fontStrong{
    font-family: 'Nerko One', cursive;
    font-weight: bold;
}
.icons{
    list-style-type: none;
    font-size: 17px;
}
.iconsStyle a{
    color: #0c0b0b;
    padding: 2px;
    border-radius: 2px;
}
.iconsStyle a:hover{
    color: #fbfbfc;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0c0b0b;
}
.marginTop{
    margin-top: auto;
}
.marginLeft30{
    margin-left: 30px;
}
.bold{
    font-weight: bold;
}
.paddingLeft30{
    padding: 30px;
}
.linkStyle a {
    color: #0c0b0b;
    text-decoration: none;
    font-family: 'Nerko One', cursive;
    padding: 5px;
    border-radius: 2px;

}
.linkStyle a:hover {
    color: #ecedef;
    cursor: pointer;
    transition: 0.3s;
    background-color: #3b3838;
}
.mainStyle{
    width: 100%;
}
header{
    width: 100%;
}
.headerImg {
    display: flex;
    height: 420px;
    width: 100%;
    background-size: 420px 100%;
    opacity: 0.9;
    position: relative;
}

.masonStyle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.readingStyle{
    position: absolute ;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111111;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}
.card {
    height: 380px;
    width: 350px;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/27/14/22/christmas-2894445_960_720.jpg");
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black ;
}
.card img {
    width: 350px;
    height: 250px;

}
.card div {
    overflow: hidden;
    height: 250px;
}
.card img:hover{
    transform: scale(1.3);
    transition: 2s;

}
.paragraph{
     margin: 15px;
    padding: 15px;
}
.userName{
    margin-left: 3px;
    font-family: 'Nerko One', cursive;
    font-size: 18px;
}
.errorRegister{
    color: red;
}
.editingPageError{
    color: red;
}
.userName a{
    font-weight: bold;
    color: #f16303;
    text-decoration: none;
    text-align: center;
}
.textCenter{
    text-align: center;
}
.bestFont {
    font-family: 'Nerko One', cursive;
}
.containerBottom{
    border-top: 1px solid #727070;
    padding: 35px;
}
.margin100{
    margin: 100px;
}
.columnContent1 img{
    height: 200px;
    width: 200px;
}

.column1-content-title{
    font-family: Poppins,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .2px;
    color: #100f0f;
    margin-bottom: 20px;
}
.column1-paragraph{
    font-family: Poppins,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .2px;
    color: #777;
   width: 280px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}
.width33{
    width: 33.3333333%;
}
.columnContent2 img{
    height: 150px;
    width: 230px;

}
.columnContent2{
    position: relative;
}
.padding20{
    margin: 30px;
}
.columnOne, .columnTwo, .columnThree{
    height: 250px;
    width: 350px;
}

.booksLink{
    position: absolute;
    bottom: 6px;
    left: 65px;
    padding: 3px;
    font-weight: bold;
}
.booksLink:hover{
    cursor: pointer;
}
.goodImage img{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    bottom: 95px;
    left: 65px;
}
.fa-facebook-square{
    color: #295fba;
}
.goodreadsStyle{
    position: absolute;
    top: 50px;
    left: 130px;
    font-size:18px;
    color: white;
    list-style-type: none;
}
.goodreadsStyle:hover{
    color: #777777;
}
.containerSliders{
    margin-top: 150px;
}
.containerSliders{
    width: 100%;
}
.containerImages{
    display: flex;
    width: 100%;
    margin-top: 50px;
}
.instagramPhotos{
    width: 16.6666%;
}
.instagramPhotos img{
    height: 220px ;
    width: 100%;
}
.instagramPhotos img:hover{
    opacity: 0.8;
}
.followText{
    font-family: 'Nerko One', cursive;
    font-size: 19px;
    font-weight: bold;
}
.footerContainer{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.footerTop{
    background-color: #0d0d0e;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
}
.footerTopMain{
    padding-left: 50px;
    padding-right:50px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid white;
    color: #c3bdbd;
    font-family: 'Nerko One', cursive;

}
.footerTopMain a{
    color: #c3bdbd;
    margin-left: 15px;
}
.footerTopMain a:hover{
    color: #6e6868;
    text-decoration: none;

}
.footerBottomMain{
    background-color: #0d0d0e;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    color: #c3bdbd;
    font-family: 'Nerko One', cursive;
}
.backBtn{
    height: 50px;
    width: 80px;
    padding: 8px;
    font-size: 20px;
}
/*SINGLE ITEM PAGE STYLES*/
.singlePageContainer{
    padding: 25px;
}

.singlePageContainer img{
    height: 500px;
    width: 900px;

}
.sPgSideParagraph{
    padding: 40px;
    font-family: 'Nerko One', cursive;
}
.sPgSideButtons{
    padding-top: 40px;
}
.sPgSideButtons button{
    margin: 2px;
    padding: 15px;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    width: 100%;
    opacity: 0.8;
}
.sPgSideButtons button:hover{
    opacity: 1;
    cursor: pointer;
}
.colorBlue{
    background-color: #295fba;
}
.colorFontBlue{
    color: dodgerblue;
}
.colorSalmon{
    background-color: salmon;
}
.colorIndigo{
    background-color: #1deebd;
}
.colorOrange{
    background-color: #ef7422;
}
.sPgText{
   padding-left: 20px;
    padding-bottom: 20px;
}
.padding50{
    padding-left: 50px;
    padding-right: 50px;
}
.sPgDescription{
    width: 900px;
}
.width900{
    width: 900px;
}
.sPgSider{
    padding:25px;
    width: 100%;
}
.sPgSider  img{
    height: 110px;
    width: 110px;

}
.lineUnder{
    border-bottom: 1px solid grey;
}
.sPgSider  img:hover{
    cursor: pointer;
    opacity: 0.9;
}
.padding5{
    padding: 5px;
}
.paddingTop20{
    padding-top: 50px;
}
.sPgFooter{
    background-color: #0c0b0b;
    height: 200px;
    width: 100%;
}
.marginRight50{
    margin-right: 50px;
}
.colorWhite{
    color: white;
}
.colorBlack{
    color: black;
}
.deleteModal{
    height: 200px;
    width: 400px;
    margin: auto;
    top:1800px;
    right:0;
    left:0;
    bottom:200px;
    background-color: #323234;
    border-radius: 10px;
    opacity: 0.8;
    position: absolute;
}
.editPageMain {
    opacity: 0.9;
    background: url("https://i.pinimg.com/originals/67/59/49/675949186cd7f66ac5ba009a35412841.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1050px;
    position: relative;
}
.marginAuto{
    margin: auto;
}
.editModal{
    height: 200px;
    width: 400px;
    margin: auto;
    top:80px;
    right:0;
    left:0;
    bottom:200px;
    background-color: #323234;
    border-radius: 10px;
    opacity: 0.8;
    position: absolute;
}
.btnYes{
    margin: auto;
    color: blanchedalmond ;
    font-size:  35px;
    background-color: forestgreen;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}
.btnYes:hover{
    cursor: pointer;
    background-color: green;
}
.btnNo{
    margin: auto;
    color: blanchedalmond ;
    font-size:  35px;
    background-color: darkred;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}
.btnNo:hover{
    cursor: pointer;
    background-color: firebrick;
}
.modalText{
    text-align: center;
    font-size: 35px;
    padding: 30px;
    color: white;
}
.visitBtn {
    padding: 10px;
    background-color: #306e0a;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.visitBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #4aa213;
}
.visitBtn a {
    color: white;
    font-size: 14px;
    font-family: 'Nerko One', cursive;
    text-decoration: none;
}
.goToBloggerPage{
    font-family: 'Nerko One', cursive;
    font-weight: bold;
    font-size: 15px;
    margin-left: 25px;
}
.myDeleteBtn {
    padding: 10px;
    font-size: 20px;
    background-color: #ef7422;
    font-weight: bold;
}
.myDeleteBtn:hover{
   cursor: pointer;
    background-color: #0c0b0b;
    color: #ef7422;
}
.myPostBtn {
    padding: 10px;
    font-size: 20px;
    background-color: #7cd929;
    font-weight: bold;
    margin-left: 20px;
}
.myPostBtn:hover{
    cursor: pointer;
    background-color: #0c0b0b;
    color: #7cd929;
}
.particularPageContainer{
    display: flex;
    padding: 50px;
    background-image: url("https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg");
}
.particularPageContainer img{
    height: 550px;
    width: 400px;
}
.loginError{
    color: red;
}
.pPgDesc{
    padding: 100px;
    text-align: center;
}
.pPgTitle{
    font-size: 20px;
    font-family: 'Nerko One', cursive;
    line-height: 1.8;
    padding: 50px;
    text-align: center;

}
.marginTop60{
    margin-top: 60px;
}
/*REGISTER PAGE STYLES*/

#registerCardOuter{
    height: 400px;
    width: 400px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    left:0;
    bottom:200px;
    background-color: #525298;
    border-radius: 10px;
    opacity: 0.8;
}
.registerMain{
    opacity: 0.9;
    background: url("https://i.pinimg.com/originals/03/4b/58/034b588b27ec7bc95cb7cb072da3fc60.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1050px;
    position: relative;
}
#registerCardInner{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 4px 8px 0 black ;
    border-radius: 10px;
    opacity: 0.9;
   background-color: white;

}
.nameInput{
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    margin: 10px 20px 0  20px;


}
.nameInput:hover{
    border: 2px solid #295fba;
}

.margin5{
    margin: 5px;
}

#signUp{
    margin-top: 10px;
    padding: 10px;
    background-color: #128a12;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
#signUp:hover{
    color: #c3bdbd;
    cursor: pointer;
}
.fontSize30{
    font-size: 30px;
}
.colorGreen{
    color: #128a12;
}
.colorGrey{
    color: #727070;
}
.linkStyleReg a {
    color: #faf7f7;
    text-decoration: none;
    font-family: 'Nerko One', cursive;
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px;

}
.linkStyleReg a:hover{
    cursor: pointer;
    color: #295fba;
    transition: 0.3s;
}
.iconsReg{
    margin-top: 15px;
    list-style-type: none;
}

/*LOGIN PAGE STYLES*/

.loginMain{
    opacity: 0.9;
    background: url("https://images.freecreatives.com/wp-content/uploads/2015/03/old-book-paper-high-quality-hd-wallpaper-desktop-Old-Book-Paper-High-Quality-HD-Wallpaper-Desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1050px;
    position: relative;
}
#loginBtn{
    margin-top: 10px;
    padding: 10px;
    background-color: #0a2c6e;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
#loginBtn:hover{
    color: #727070;
    cursor: pointer;
}
.logInput{
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    margin: 20px 20px 0  20px;
}
#loginCardOuter{
    height: 200px;
    width: 400px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    left:0;
    bottom:200px;
    background-color: #fcfcfd;
    border-radius: 10px;
    opacity: 0.8;
}
